<div>
  <%= form_for @provider do |f| %>
    <p>
      <%= f.label :name, "Your Full Name", class: "col-sm-4" %>
      <%= f.text_field :name, style: "width: 300px;" %>
    </p>
    <p>
      <%= f.label :email, class: "col-sm-4" %>
      <%= f.text_field :email, style: "width: 300px;" %>
    </p>
    <p>
      <%= f.label :work_address, "Work Address", class: "col-sm-4" %>
      <%= f.text_field :work_address, style: "width: 300px;" %>
    </p>
    <p>
      <%= f.label :city, class: "col-sm-4" %>
      <%= f.text_field :city, style: "width: 300px;" %>
    </p>
    <p>
      <%= f.label :state, class: "col-sm-4" %>
      <%= f.select :state,
        options_for_select(us_states),
        default: @provider.state,
        include_blank: true,
        style: "width: 300px;" %>
    </p>
    <p>
      <%= f.label :zip, class: "col-sm-4" %>
      <%= f.text_field :zip, style: "width: 300px;" %>
    </p>
    <p>
      <%= f.label :profile,
        "Add a link to your external profile",
        class: "col-sm-4" %>
      <%= f.text_field :profile, style: "width: 300px;" %>
    </p>
    <br/>
    <p>
      <%= f.label :bio, "Tell us about yourself:", class: "col-sm-4" %>
      <%= f.text_area :bio, style: "width: 300px; height: 300px;" %>
    </p>
    <p>
      <%= image_tag :avatar, style: "width: 300px;" %>
      <%= f.label :avatar, "Change your profile picture:", class: "col-sm-4" %>
      <%= f.file_field :avatar, style: "width: 300px;" %>
    </p>
    <p style="text-align: center;"><%= f.submit "Submit Changes" %></p>
  <% end %>
</div>
