<h1><%= @provider.name %></h1>
<br/>
<h3>
  <%= @provider.work_address %>
  <%= @provider.city %>
  <%= @provider.state %>
  <%= @provider.zip %>
</h3>
<br/>
<div>
  Appointments
  <ul style="list-style: none;">
    <% @appointments.each do |appointment| %>
      <li>
        <a href="<%= appointment_path(appointment) %>">
          <%= appointment.date.strftime("%a, %B %d %Y") %>:
          <%= appointment.start_time.strftime("%I:%M%p") %> -
          <%= appointment.end_time.strftime("%I:%M%p") %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<br/>
<% if current_user == @provider %>
  <%= link_to "Edit My Profile", edit_provider_path(@provider) %>
<% end %>
