<h1><%= @provider.name %></h1>
<br/>
<h3>
  <%= @provider.work_address %>
  <%= @provider.city %>
  <%= @provider.state %>
  <%= @provider.zip %>
</h3>
<br/>
<div>
  My Appointments
  <ul style="list-style: none;">
    <% @appointments.each do |appointment| %>
      <li>
        <a href="<%= appointment_path(appointment) %>">
          <%= appointment.date.strftime("%a, %B %d %Y") %>:
          <%= appointment.start_time.strftime("%I:%M%p") %> -
          <%= appointment.end_time.strftime("%I:%M%p") %>
        </a>
      </li>
    <% end %>
  </ul>
  <p><%= link_to "Add An Appointment", new_appointment_path %></p>
  <br/>
  Insurances I Accept
  <ul style="list-style: none;">
    <% @insurers.each do |insurance| %>
      <li>
          <%= insurance.company %> <%= insurance.plan %>
          <% if current_user == @provider %>
            <%= link_to "(Remove)",
              insurance_provider_path(InsuranceProvider.find_by(
                insurer: insurance,
                provider: @provider
              )),
              method: :delete %>
          <% end %>
      </li>
    <% end %>
  </ul>
</div>
<br/>
<% if current_user == @provider %>
  <%= link_to "Edit My Profile", edit_provider_path(@provider) %>
  <p>Add an Insurance Provider that you accept:</p>
  <%= render "insurers/form", insurer: @insurer %>
<% end %>
