<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center;"><%= @provider.name %></h1>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="center">
      <div class="card-block">
        <div class="appointments padded">
          <h3 style="text-align: center;">Info</h3>
          <p style="text-align: center;"><%= @address %></p>
          <p style="text-align: center;"><%= @provider.email %></p>
          <p style="text-align: justify;"><%= @provider.bio %></p>
          <% if @provider.profile_url %>
            <p style="text-align: center;">
              <a href="<%= @provider.profile_url %>" class="in-block-link-2">
              My Profile
              </a>
            </p>
          <% end %>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="center">
      <div class="card-block">
        <div class="appointments padded">
          <h3 style="text-align: center;">My Appointments</h3>
          <% @appointments.each do |a| %>
            <p style="text-align: center;">
              <a href="<%= appointment_path(a) %>" class="in-block-link-2">
                <%= a.date.strftime("%a, %B %d %Y") %>:
                <%= a.start_time.strftime("%I:%M%p") %> -
                <%= a.end_time.strftime("%I:%M%p") %>
              </a>
              <% if signed_in_user %>
                (Appointment with
                <%= link_to a.provider.name, provider_path(a.provider), class: "in-block-link-2" %> in <%= a.provider.city %>)

              <% elsif current_user == a.provider %>
                <% if a.booked? %>
                  (booked by
                  <%= link_to a.user.name,
                  user_path(a.user), class: "in-block-link-2" %>)
                <% else %>
                  (not yet booked)
                <% end %>
              <% end %>
            </p>
          <% end %>

          <% if current_user == @provider %>
            <p style="text-align: center;">
              <%= link_to "Add An Appointment",
                new_appointment_path, class: "in-block-link-2" %>
            </p>
          <% end %>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="center">
      <div class="card-block">
        <div class="appointments padded">
          <h3 style="text-align: center;">Insurances I Accept</h3>
          <ul style="list-style: none;">
            <% @insurers.each do |insurance| %>
              <li>
                <%= insurance.company %> <%= insurance.plan %>
                <% if current_user == @provider %>
                  <%= link_to "(Remove)",
                    insurance_provider_path(InsuranceProvider.find_by(
                      insurer: insurance,
                      provider: @provider
                    )),
                    method: :delete,
                    class: "in-block-link-2" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br/>

  <% if current_user == @provider %>
  <div class="row">
    <div class="center">
      <div class="card-block">
        <div class="appointments padded" style="text-align: center;">
            <p>Add an Insurance Provider:</p>
            <%= render "insurers/form", insurer: @insurer %>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="center">
      <div class="card-block">
        <div class="appointments padded" style="text-align: center;">
          <%= link_to "Edit My Profile", edit_provider_path(@provider),
            class: "in-block-link-2"%>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <% end %>
</div>
