<%= form_for @user do |f| %>
  <p>
    <%= f.label :name, "Your Full Name", class: "col-sm-4" %>
    <%= f.text_field :name, style: "width: 300px;" %>
  </p>
  <p>
    <%= f.label :email, class: "col-sm-4" %>
    <%= f.text_field :email, style: "width: 300px;" %>
  </p>
  <p>
    <%= f.label :address, class: "col-sm-4" %>
    <%= f.text_field :address, style: "width: 300px;" %>
  </p>
  <p>
    <%= f.label :city, class: "col-sm-4" %>
    <%= f.text_field :city, style: "width: 300px;" %>
  </p>
  <p>
    <%= f.label :state, class: "col-sm-4" %>
    <%= f.select :state,
      options_for_select(us_states),
      default: @user.state,
      include_blank: true,
      style: "width: 300px;" %>
  </p>
  <p>
    <%= f.label :zip, class: "col-sm-4" %>
    <%= f.text_field :zip, style: "width: 300px;" %>
  </p>
  <p style="text-align: center;"><%= f.submit "Submit Changes" %></p>
<% end %>
