<%= form_for @user do |f| %>
  <p>
    <%= f.label :name, "Your Full Name" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %>
    <%= f.select :state,
      options_for_select(us_states),
      default: @user.state,
      include_blank: true %>
  </p>
  <p>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </p>
  <p><%= f.submit "Submit Changes" %></p>
<% end %>
