<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <% if current_user == @user %>
        <h1><%= @user.name %></h1>
        <br/>

        <h3>
          Address:
          <%= @user.address %>
          <%= @user.city %>
          <%= @user.state %>
          <%= @user.zip %>
        </h3>
        <br/>

        <div>
          <h3>My Appointments</h3>
          <ul style="list-style: none;">
            <% @appointments.each do |appointment| %>
              <li>
                <a href="<%= appointment_path(appointment) %>">
                  Appointment with <%= appointment.provider.name %> on
                  <%= appointment.date.strftime("%a, %B %d %Y") %>:
                  <%= appointment.start_time.strftime("%I:%M%p") %> -
                  <%= appointment.end_time.strftime("%I:%M%p") %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
        <br/>

        <div>
          <h3>My Insurance</h3>
          <ul style="list-style: none;">
            <% @insurers.each do |insurance| %>
              <li>
                  <%= insurance.company %> <%= insurance.plan %>
                  <% if current_user == @user %>
                    <%= link_to "(Remove)",
                      insurance_provider_path(InsuranceProvider.find_by(
                        insurer: insurance,
                        user: @user
                      )),
                      method: :delete %>
                  <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <br/>

      <div>
        <%= link_to "Edit My Profile", edit_user_path(@user) %>
        <p>Add your Insurance Provider:</p>
        <%= render "insurers/form", insurer: @insurer %>
      </div>
      <% end %>
    </div>
  </div>
</div>
