<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center;">Appointments</h1>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <% @appointments.each do |a| %>
        <div class="card-block">
          <div class="appointments padded">
            <%= link_to "#{a.date.strftime("%a %B %d, %Y")} @ #{a.start_time.strftime("%I:%M%p")}", appointment_path(a), class: "in-block-link-2" %>

            <% if signed_in_user %>
              (Appointment with <%= link_to a.provider.name,
                provider_path(a.provider), class: "in-block-link-2" %>
              <% if a.provider.city != "" %>
                in <%= a.provider.city %>
              <% end %>
              )
            <% end %>

            <% if a.booked? %>
              <% if signed_in_user %>
                <% if current_user.id == a.user_id %>
                  (you have claimed this appointment)
                <% else %>
                  (taken)
                <% end %>
              <% elsif signed_in_provider && current_user == @provider %>
                (booked by <%= link_to a.user.name, user_path(a.user),
                  class: "in-block-link-2" %>)
              <% end %>
            <% else %>
              (not yet booked)
            <% end %>

            <% if signed_in_provider && current_user == a.provider %>
              <br/><%= link_to "Edit this Appointment", edit_appointment_path(a),
                class: "in-block-link-2 "%>
              |<%= link_to "Delete this Appointment", appointment_path(a),
                method: :delete, data: { confirm: "Are you sure?" },
                class: "in-block-link-2" %>
            <% end %>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
  </div>

  <% if signed_in_provider %>
    <div class="row">
      <div class="center">
        <div class="col" style="text-align: center;">
          <div class="card-block">
            <div class="appointments padded">
              <%= link_to "Add an Appointment", new_appointment_path, class: "in-block-link-2" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
