<div class="container-fluid">
  <div class="row">
    <div class="center">
      <div class="col-sm-12">
        <div class="card-block">
          <h3 style="text-align: center;">
            Appointment with <%= @provider.name %> <br/>
            at <%= @start %> on <%= @end %>
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="center">
      <div class="col-sm-12">
        <div class="card-block">
          <p class="col-sm-4">Address:</p>
          <strong><%= @address %></strong>
          <a href="<%= @map_link %>" class="in-block-link">
            View on Google Maps
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="center">
      <div class="col-sm-12">
        <div class="card-block">
          <p style="text-align: center;">Booked: <%= @booked %></p>
        <p>
          <% if signed_in_user %>
            <% if @appointment.booked? && @appointment.user_id == current_user.id %>
              <%= button_to "Cancel Booking",
                unbook_appointment_path(@appointment),
                method: :patch,
                style: "text-align: center;" %>
            <% elsif !@appointment.booked? %>
              <%= button_to "Book Appointment",
                book_appointment_path(@appointment),
                method: :patch,
                style: "text-align: center;" %>
            <% end %>
            <br/>
            <%= link_to "View My Booked Appointments", user_appointments_path(current_user) %>
          <% end %>
        </p>
        <p>
          <% if signed_in_provider && current_user == @provider %>
            <p class="col-sm-6">
              <%= link_to "Edit this Appointment",
                edit_appointment_path(@appointment),
                class: "in-block-link",
                style: "text-align: right;" %>
            </p>
            <p>
              <%= link_to "Remove this Appointment",
                appointment_path(@appointment),
                method: :delete,
                class: "in-block-link-2",
                style: "padding-left: 15px;" %>
            </p>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
