<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Access Point", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if signed_in_user %>
          <li class="active">
            <a href="<%= providers_path %>">Providers <span class="sr-only">(current)</span></a>
          </li>
          <li><a href="<%= appointments_path %>">Appointments</a></li>
          <li><a href="<%= user_path(current_user) %>">My Profile</a></li>

        <% elsif signed_in_provider %>
          <li><a href="<%= appointments_path %>">My Appointments</a></li>
          <li><a href="<%= provider_path(current_user) %>">My Profile</a></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
          <li><%= link_to "Provider Sign In", login_provider_path %></li>
          <li><%= link_to "User Sign In", login_user_path %></li>
        <% else %>
          <li><%= link_to "Sign Out", session_path(session), method: :delete %></li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
