<!DOCTYPE html>
<html>
  <%= render 'layouts/navbar' %>
  <head>
    <title>AccessPoint</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'bootstrap' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>

    <%= yield %>
  </body>
</html>
